# Gradle
.gradle
build/

# IDEs
.idea/
*.iml
.settings/
.classpath
.project
bin/
out/

# macOS
.DS_Store

# Spring Boot
HELP.md

# Log files
*.log

# Environment variables
.env
.env.local

# Firebase Credentials
pet-ready-serviceAccountKey.json
*serviceAccountKey.json
